<!DOCTYPE html>
<html>
<head>
	<title>SULLIVANPROJECT</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./stylesheets/normalize.css">
	<link rel="stylesheet" href="./stylesheets/index.css">
</head>
<body>
	<section id="login">
		<article>
			<form method="POST" action="">
				<input type="email" name="email" placeholder="이메일" required>
				<input type="password" name="password" placeholder="비밀번호" required>
				<input type="submit" value="로그인">
			</form>
		</article>
	</section>
</body>
</html>